<a href="/past"><button>Search past results</button></a>
<h1 style="text-align: center;">Select a colour and we'll show you it's beauty</h1>
<div style="margin-left: 90px">
  <% @colours.each do |c| %>
    <div class="colour" style="width: 200px;
    height: 200px;
    border: 1px black solid; background-color: <%= c %>; float: left; text-align: center;">
      <%= button_to c, results_path(c), method: :get %>
    </div>
  <% end %>
</div>